*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#E06D06;
    --sec-color:#161032;
    --tert-color:#FAFF81;
}

body{
    background-color: var(--sec-color);
}


/* header  */

nav{
    background-color: var(--primary-color);
    height: 3.5rem;
    text-align: center;
    padding:0.75rem;

    h1{
        color: var(--sec-color);
    }
}

// scoreboard 

.score{
    border: 3px solid white;
    width: 200px;
    margin: 1.5rem auto;
    color: var(--primary-color);
    font-size: 2em;
    border-radius:4px;
    text-align: center;
    padding: 1rem 1rem;
    position: relative;
}

.badge{
    background: var(--tert-color);
    font-size: 0.55em;
    padding:0 0.25rem;
    color: var(--sec-color);
}

#user{
    position: absolute;
    top: 20px;
    left: -15px;
}

#computer{
    position:absolute;
    top: 20px;
    right: -25px;
}


.result-message{
    
    font-size:35px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;

    p{
        font-weight:bold;
    }
}

.choices{
  text-align: center;
  margin-top:1rem;

   .choice{
   display: inline-block;
   margin: 2.5rem; 
   border: 4px solid white;
   border-radius:50%;
   padding:1rem;
   transition: all 0.3s ease;

   &:hover{
       cursor: pointer;
       background-color: var(--primary-color);
   }

   img{
       width: 100px;
       height: 100px;
   }
}
}

#action-message{
        color: var(--primary-color);
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top:2rem;
}